apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: n8n
  namespace: n8n
spec:
  instances: 1

  storage:
    size: 5Gi

  bootstrap:
    initdb:
      database: n8n
      owner: n8n
      secret:
        name: n8n-postgresql-credentials

  postgresql:
    parameters:
      max_connections: "1000"
      shared_buffers: "256MB"
