apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: uptime-kuma
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.irsigler.cloud
    chart: uptime-kuma
    targetRevision: 2.24.0
    helm:
      valuesObject:
        ingress:
          enabled: true
          className: nginx
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt-prod
          hosts:
            - host: uptime.k3s.astafeev.dev
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - secretName: uptime-kuma-tls
              hosts:
                - uptime.k3s.astafeev.dev

        persistence:
          enabled: true
          size: 1Gi

  destination:
    server: https://kubernetes.default.svc
    namespace: uptime-kuma

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
