apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitops-ghost
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/AllYouZombies/argocd-apps.git
    targetRevision: HEAD
    path: manifests/k3s.astafeev.dev/ghost/

  destination:
    server: https://kubernetes.default.svc
    namespace: ghost

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
