apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitops-n8n
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/AllYouZombies/argocd-apps.git
    targetRevision: HEAD
    path: manifests/k3s.astafeev.dev/n8n/

  destination:
    server: https://kubernetes.default.svc
    namespace: n8n

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
