apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitops-vault-secrets-operator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/AllYouZombies/argocd-apps.git
    targetRevision: HEAD
    path: manifests/k3s.astafeev.dev/vault-secrets-operator/

  destination:
    server: https://kubernetes.default.svc
    namespace: vault-secrets-operator

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
